:root {
  --main-bg-gradient: linear-gradient(113deg, #6b49f8 0%, #f76df8 100%);
  --color-purple: #6b49f8;
  --color-pink: #f76df8;
  --color-pink-hover: #faabfb;
  --color-green: #51da7f;
  --color-red: #fe015c;
  --color-white: #ffff;
  --color-black: #000;
  --font-family-VT: "VT323", monospace;
  --font-family-IBM: "IBM Plex Mono", monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-VT);
  background: var(--main-bg-gradient);
  text-align: center;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

header {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header img {
  width: 200px;
  height: auto;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

/* Button filter */
.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.filter-button {
  margin-right: 10px;
  width: 80px;
  height: 30px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;
  appearance: button;
  background-color: var(--color-pink);
  background-image: none;
  border: 1px solid #000;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-family-VT);
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.filter-button:focus {
  text-decoration: none;
}

.filter-button:hover {
  text-decoration: none;
}

.filter-button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.filter-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* Input search */
.input-container {
  position: relative;
  display: inline-block;
}

#name-input {
  padding: 5px 60px 5px 10px; /* Espace pour le bouton de soumission */
  border: 1px solid var(--color-black);
  font-family: var(--font-family-VT);
  font-size: 16px;
  box-sizing: border-box;
  width: 280px;
  height: 30px;
  box-shadow: 1px 1px 0px 1px var(--color-black);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

#name-input:focus {
  outline: none;
}

#submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: #6b49f8;
  color: white;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-VT);
  font-size: 16px;
  text-align: center;
  box-shadow: 1px 1px 0px 1px var(--color-black);
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

#submit-btn:active {
  background-color: #4b22f4;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

/* Grid */
.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 50px;
  column-gap: 100px;
}

/* Card */
.character-card {
  background-color: white;
  height: 420px;
  max-width: 280px;
  border: 1px solid var(--System-Black, #000);
  box-shadow: 1px 1px 0px 1px var(--color-black);
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 200px;
    height: 200px;
    border: 2px solid var(--color-black);
    margin-top: 40px;
    margin-bottom: auto;
  }

  h2 {
    font-family: var(--font-family-IBM);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 200px;
    margin: 0;
    word-wrap: break-word;
    text-align: center;
  }
}

/* Status */
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.status-dot.alive {
  background-color: var(--color-green);
}

.status-dot.dead {
  background-color: var(--color-red);
}

.status p {
  margin: 0;
}

/* Card footer */
.card-footer {
  background: white;
  border-top: 1px solid var(--System-Black, #000);
  display: flex;
  justify-content: end;
  width: 280px;
  height: 28px;
  margin-top: auto;
}

.btn-icon {
  font-size: 16px;
  background: transparent;
  border: none;
  border-left: 1px solid var(--color-black);
  cursor: pointer;
}

.btn-icon:hover {
  background-color: var(--color-pink);
}

.page {
  display: none;
}

.page:not(.hidden) {
  display: block;
}

.hidden {
  display: none !important;
}

/* Character details page */
#character-details-page {
  display: none;
  margin: 0 auto;
  width: 795px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--System-Black, #000);
  box-shadow: 1px 1px 0px 1px var(--color-black);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 60px;
}

#character-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Menu */
menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  margin: 0;
  height: 10px;
  border-bottom: 2px solid var(--color-black);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

menu li {
  display: inline;
  padding-left: 10px;
  list-style: none;
}

menu li:last-of-type {
  margin-left: auto;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: var(--color-pink);
}

.time {
  margin-right: 10px;
}

/* Info section */
.all-info {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
}

.all-info img {
  width: 200px;
  height: 200px;
}

.info-character {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  justify-content: space-evenly;
}

.info-character h2 {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-character p {
  margin: 0px;
  padding: 18px 0 0 2px;
  font-size: 18px;
}

.light-grey {
  color: #808080;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Footer */
footer {
  margin-top: 130px;
  border-top: 2px solid black;
}

.footer-container {
  height: 200px;
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;

  img {
    width: 100px;
    height: auto;
  }
}

/* Media queries */
@media (max-width: 1070px) {
  .controls-container {
    display: flex;
    flex-direction: column;
  }

  .characters-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 40px;
    column-gap: 15px;
  }

  .input-container {
    margin-top: 35px;
  }

  .page {
    display: none;
  }

  .hidden {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .controls-container {
    display: flex;
    flex-direction: column;
  }

  .characters-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 40px;
    column-gap: 15px;
  }

  .input-container {
    margin-top: 35px;
  }

  .page {
    display: none;
  }

  .page:not(.hidden) {
    display: block;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 540px) {
  .characters-grid {
    grid-template-columns: 1fr;
  }

  .page {
    display: none;
  }

  .page:not(.hidden) {
    display: block;
  }

  .hidden {
    display: none;
  }
}
